body {
	width: 100%;
	background: #323543;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}
.fl_l {
	float: left;
}
.fl_r {
	float: right;
}
.clear {
	clear: both;
}
header {
	background: #3c3f49;
	height: 52px;
}
.logo {
	background: #272a35;
	display: inline-block;
	height: 52px;
	width: 220px;
}
.a_logo {
	background: url("../img/logo.png") no-repeat;
	margin: 10px 0 15px 15px;
	height: 27px;
	width: 111px;
	display: inline-block;
}
.textbox_logo {
	position: relative;
}
.textbox_logo:before {
	content:"";
    display:block;
    position:absolute; 
    height: 15px;
    width: 93px;
    margin-left: 127px;
    bottom: 0; left: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #272a35 75%)
}
.p_logo {
	color: #5c6177;
	display: inline-block;
	margin-top: 10px;
	width: 85px;
	height: 30px;
	overflow: hidden;
}
nav {
	padding: 10px 4px 0 4px;
	display: inline-block;
	position: absolute;
}
nav>a {
	display: inline-block;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #484b55;
	background: #484b55;  
	margin-left: 10px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
nav>a:hover {
	background: #5b5d69;
}
.mini_user {
	display: inline-block;
	padding: 10px 4px 0 4px;
}
.mini_user>div {
	margin-right: 10px;
}
.u_img {
	border-radius: 100%;
	background: url("../img/u_img.png") 60% 0%;
	width: 30px;
	height: 30px;
	overflow: hidden;
	display: inline-block;
}
.login {
	display: inline-block;
	color: #fff;
	padding-top: 5px;
}
.u_menu {
	display: inline-block;
	background: url("../img/u_menu.png") no-repeat;
	width: 7px;
	height: 6px;
	margin-top: 10px;
	cursor: pointer;
}
aside {
	display: block;
	background: #323543;
	width: 200px;
	padding: 0 10px 0 10px;
}
.btn_add {
	margin-top: 20px;
	height: 35px;
	margin-right: 10px;
}
.aside_block {
	margin-top: 18px;
}
.a_block {
	margin-bottom: 18px;
}
.btn_search {
	margin-top: 20px;
	height: 30px;
	margin-right: 10px;
}
.block_btn {
	height: 20px;
}
.btn_plus {
	display: block;
	height: 34px;
	width: 34px;
	position: absolute;
	z-index: 3;
	background: #b2cd07 url("../img/plus_logo.png") no-repeat;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 1px solid #daeb2b;
}
.btn_add_dd {
	display: block;
	background: #c1de00 url("../img/u_menu.png") 95% 50% no-repeat;
	width: 160px;
	font-weight: bold;
	font-size: 14px; 
	color: #272a35;
	text-decoration: none;
	padding: 9px 0 9px 40px;
	border-radius: 5px;
}
.btn_search_txt {
	background: #272a35;
	border: 1px solid #272a35;
	border-radius: 5px;
	width: 185px;
	height: 10px;
	padding: 9px 0 9px 10px;
	color: #fafafa;
	overflow: hidden;
}
.btn_search_img {
	height: 30px;
	width: 30px;
	display: block;
	position: absolute;
	z-index: 2;
	margin-left: 170px;
	background: #272a35 url("../img/btn_search.png") 50% 50% no-repeat;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.btn_block {
	display: block;
	background: #282a36;
	width: 190px;
	font-size: 14px; 
	color: #fafafa;
	text-decoration: none;
	padding: 2px 0 2px 10px;
	border-radius: 5px;
}
.btn_block>img {
	padding-right: 6px;
}
.btn_block_last {
	background: #5b5d69;
}
.block_text {
	width: 170px;
	margin: 5px 0 0 28px;
}
.a_block:last-child{
	margin-top: 30px;
}
.link {
	display: block;
	width: 172px;
	font-size: 14px;
	padding: 3px 0 1px 0;
	color: #9c9faa;
	text-decoration: none;
	word-wrap: break-word;
}
.link:hover {
	color: #c1de00;
} 
.norm_user {
	background: #3b3e48;
	box-shadow: inset 0 0 40px #33363e;
	height: 70px;
	padding: 5px;
}
.n_img {
	margin: 5px 0 0 10px ;
	background: url("../img/norm_user.png") 0% 50% no-repeat;
	width: 58px;
	height: 58px;
	overflow: hidden;
	display: inline-block;
}
.n_name>.login {
	border-bottom: 1px dotted #fff;	
	cursor: pointer;
}
.about {
	font-size: 12px;
	padding-top: 10px;
}
.n_name {
	display: block;
	width: 240px;
	background: url("../img/u_menu.png") 68% 35% no-repeat;
	padding-left: 78px; 
	color: #fff;
	padding-top: 5px;
}
section {	
	margin-left: 220px;
}
.user_block {
	background: #fff;
	padding-top: 10px;
	overflow-y: scroll; 
    position: absolute;
    bottom: 1px;
    right: 1px;
    left: 220px;
    top: 132px;
}
.user_block::-webkit-scrollbar{
    width:12px;
}
.user_block::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #5b5d69;
    background-color: #aaa;
    border-radius: 5px;
}
h2 {
	font-size: 24px;
	padding: 10px 10px;
	color: #acacac;
	display: inline-block;
}
.sum {
	display: inline-block;
	border-radius: 100%;
	width: 20px;
	text-align: center;
	color: #fff;
}
.priority {
	background: #ff8c8c;
}
.other {
	background: #9ec97e;
}
.stopped {
	background: #9d9d9d;
}
.tasks {
	display: block;
	margin: 5px;
	height: 33px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 7px;
	overflow: hidden;
}
.tasks:nth-child(odd) {
	background: #f5f5f5;
}
.tasks>li {
	display: inline-block;
	margin: 5px 0;
	overflow: hidden;
	margin-right: 5px;
}
.task_list {
	margin-left: 10px;
}
.task_name {
	background: url("../img/mve.png") 0 50% no-repeat;
	width: 160px;
}
.task_name>a {
	color: #9c9c9c;
	margin-left: 20px;
	text-decoration: none;
}
.task_id>a {
	color: #c1c1c1;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dotted #c1c1c1;
}
.task_star {
	width: 20px;
	height: 19px;
	background: url("../img/star_shine-star.png") 0 -19px no-repeat;
}
.task_star:active {
	background: url("../img/star_shine-star.png") 0px 0px ;
}
.task_report {
	width: 60%;
}
.task_report>a {
	color: #9c9c9c;
	text-decoration: none;
	white-space: nowrap;
}
.bold_msg {
	font-weight: bold;
	padding-right: 10px;
	color: #000;
}
.task_status {
	width: 125px;
}
.task_status>a {
	border-radius: 15px;
	color: white;
	padding: 0 10px;
	margin-left: 10px;
	text-decoration: none;
}
.ready_status_red>a {
	background: #f00;
}
.ready_status_green>a {
	background: #86bc05;
}
.ready_status_yellow>a {
	background: #ffe400;
}

/* .tasks:hover {
	background: #d9d9d9;
}*/
.task_timeline {
	background: url("../img/clock.png") 0% 50% no-repeat;
}
.task_timeline>a {
	border-bottom: 1px dotted #d9d9d9;
	color: #d9d9d9;
	text-decoration: none;
	word-wrap: normal;
	margin-left: 17px;
}