body {
	width: 100%;
	background: #323543;
}
.fl_l {
	float: left;
}
.fl_r {
	float: right;
}
.clear {
	clear: both;
}
header {
	background: #3c3f49;
	height: 52px;
}
.logo {
	background: #272a35;
	display: inline-block;
	height: 52px;
	width: 230px;
}
.a_logo {
	background: url("../img/logo.png") no-repeat;
	margin: 10px 0 15px 15px;
	height: 27px;
	width: 111px;
	display: inline-block;
}
.textbox_logo {
	position: relative;
}
.textbox_logo:before {
	content:"";
    display:block;
    position:absolute; 
    height: 15px;
    width: 93px;
    margin-left: 127px;
    bottom: 0; left: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #272a35 75%)
}
.p_logo {
	color: #5c6177;
	display: inline-block;
	margin-top: 10px;
	width: 85px;
	height: 30px;
	overflow: hidden;
}
nav {
	padding: 10px 4px 0 4px;
	display: inline-block;
	position: absolute;
}
nav>a {
	display: inline-block;
	padding: 8px;
	border-radius: 10%;
	border: 1px solid #484b55;
	background: #484b55;  
	margin-left: 10px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
nav>a:hover {
	background: #5b5d69;
}
.user {
	display: inline-block;
	position: inherit;
	padding: 10px 4px 0 4px;
}
.user>div {
	margin-right: 10px;
}
.u_img {
	border-radius: 100%;
	background: url("../img/u_img.png") 60% 0%;
	width: 30px;
	height: 30px;
	overflow: hidden;
	display: inline-block;
}
.login {
	display: inline-block;
	color: #fff;
	padding-top: 5px;
}
.u_menu {
	display: inline-block;
	background: url("../img/u_menu.png") no-repeat;
	width: 7px;
	height: 6px;
	margin-top: 10px;
	cursor: pointer;
}
.bar_menu {
	display: inline-block;
	background: #323543;
	height: 100%;
}
.btn_add, .btn_search, .block_btn {
	margin-top: 20px;
	height: 35px;
	overflow: hidden;
	margin-right: 20px;
}
.btn_add, .btn_search, .block_btn {
	margin-top: 20px;
	height: 35px;
	overflow: hidden;
}
.btn_plus {
	display: inline-block;
	height: 35px;
	width: 34px;
	background: #b2cd07 url("../img/plus_logo.png") no-repeat;
	border-top-left-radius: 7%;
	border-bottom-left-radius: 7%;
	border-right: 1px solid #daeb2b;
}
.btn_add_dd {
	display: inline-block;
	background: #c1de00;
	width: 130px;
	font-weight: bold;
	font-size: 14px; 
	color: #272a35;
	text-decoration: none;
	padding: 10px 0 10px 10px;
}
.btn_menu {
	display: inline-block;
	background: #c1de00 url("../img/u_menu.png") 50% 50% no-repeat;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-top-right-radius: 7%;
	border-bottom-right-radius: 7%;
}
.btn_search_txt {
	background: #272a35;
	border: 1px solid #272a35;
	border-radius: 7%;
	width: 95%;
	height: 15px;
	padding: 9px 0 9px 10px;
	color: #fafafa;
}
.btn_search_img {
	height: 35px;
	width: 35px;
	display: block;
	position: absolute;
	z-index: 2;
	margin: -40px 0 0 175px;
	background: url("../img/btn_search.png") 50% 50% no-repeat;
}
.btn_block_menu {
	display: inline-block;
	background: #282a36 url("../img/block_menu.png") 40% 50% no-repeat;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-top-left-radius: 7%;
	border-bottom-left-radius: 7%;
}
.btn_block {
	display: inline-block;
	background: #282a36;
	width: 140px;
	font-weight: bold;
	font-size: 14px; 
	color: #fafafa;
	text-decoration: none;
	padding: 10px 0;
}
.btn_box {
	display: inline-block;
	height: 35px;
	width: 35px;
	background: #282a36;
	border-top-right-radius: 7%;
	border-bottom-right-radius: 7%;
}
.link {
	display: block;
	width: 200px;
	padding: 9px 0 9px 10px;
	color: #9c9faa;
	text-decoration: none;
	word-wrap: break-word;
}
.link:hover {
	color: #c1de00;
}
.content {
	height: 80px;
	width: 100%;
	display: inline-block;
	position: absolute;
	z-index: -1;
	top: 52px;
} 
.c_user {
	background: #3b3e48;
	box-shadow: inset 0 0 40px #33363e;
	height: 80px;
}